@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

@import '../node_modules/xterm/dist/xterm.css';

html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 15px
}

*::-webkit-scrollbar {
  width: 0.5em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
