<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="isFieldInvalid('email')">
            Please verify your Email address.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('password')">
            Passowrd is required.
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
