<!-- this flex item takes the rest of the screen in height -->
<mat-sidenav-container fxLayout="row">
  <mat-sidenav fxFlex="50" class="mat-elevation-z2" mode="side" position="end" opened fxFill>
    <div class="container">
      <h2>Crawler Output</h2>
      <div id="terminal"></div>
    </div>
  </mat-sidenav>
  <!-- Body -->
  <mat-sidenav-content fxFlex="50">
    <div class="container">
      <h2>Available Crawlers</h2>
      <mat-card *ngFor="let scan of scans$ | async">
        <mat-card-header fxLayout="row" fxLayoutAlign="stretch">
          <div fxFlex>
            <mat-card-title>Crawler: {{ scan.crawler }}</mat-card-title>
            <mat-card-subtitle>Directory: {{ scan.directory }}</mat-card-subtitle>
          </div>
          <button mat-button (click)="startTask(scan)">
            <mat-icon>play_circle_filled</mat-icon>
            Start Crawler
          </button>
        </mat-card-header>
      </mat-card>
      <div fxLayout="row">
        <h2 fxFlex>Started Crawlers</h2>
        <div fxLayoutAlign="center center">
          <mat-chip-list>
            <mat-chip>
              Displaying {{taskState.filter !== 'ALL' ? filterdTasks.length : ''}} {{taskState.filter.toLowerCase()}} {{taskState.filter
              === 'ALL' ? filterdTasks.length : ''}} task{{filterdTasks.length > 1 ? 's' : ''}}
            </mat-chip>
          </mat-chip-list>
          <button fxFlex mat-icon-button [matMenuTriggerFor]="tasksFilter">
            <mat-icon>filter_list</mat-icon>
          </button>
          <mat-menu #tasksFilter="matMenu" xPosition="before">
            <button mat-menu-item (click)="filterTasks('ALL')">
              <mat-icon>list</mat-icon>
              <span>All</span>
            </button>
            <button mat-menu-item (click)="filterTasks('DONE')">
              <mat-icon>done</mat-icon>
              <span>Done</span>
            </button>
            <button mat-menu-item (click)="filterTasks('RUNNING')">
              <mat-icon>play_circle_filled</mat-icon>
              <span>Running</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="container" style="padding-bottom: 15px">
      <mat-accordion [multi]=true>
        <mat-expansion-panel *ngFor="let task of tasks$ | async" hideToggle [expanded]=true>
          <mat-expansion-panel-header fxLayout="row" fxLayoutAlign="stretch center">
            <mat-panel-title>
              Crawler: {{ task.crawler }}
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end">
              <mat-icon *ngIf="task.status==0">pause_circle_filled</mat-icon>
              <mat-icon *ngIf="task.status==1">play_circle_filled</mat-icon>
              <mat-icon *ngIf="task.status>1">stop_circle_filled</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          Directory: {{ task.directory }}
          <br> Started: {{ task.created_at | timeAgo }}
          <br> {{ (task.status > 1)? 'Finished: ' + (task.updated_at | timeAgo) : '' }}
          <br> Status: {{ task.status | taskStatus }}
          <br> Log file: {{ task.log_file }}
          <mat-action-row>
            <button mat-button (click)="viewOutput(task)">
              <mat-icon>launch</mat-icon>
              View Output
            </button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
