<div class="app">
  <mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="stretch center" fxFill>
      <div fxFlex>Scrapmanager</div>
      <button mat-button *ngIf="!isAuthenticated" routerLink="/login">
        <mat-icon>person</mat-icon>
        Sign in
      </button>
      <button mat-button *ngIf="isAuthenticated" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
    </div>
  </mat-toolbar>
  <section class="app" fxLayout="column" fxFill>
    <router-outlet></router-outlet>
  </section>
</div>
